<div class="modal fade" id="foodDetailModal" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Food Detail</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-horizontal" id="form_food_detail">
                        <div class="form-group ">
                            <div class="col-xs-8 ">
                                @Html.Hidden("FoodId", "")
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="FoodName" class="col-xs-3 control-label">Food Name</label>
                            <div class="col-xs-8 ">
                                <input type="text" class="form-control input-sm duiqi" id="FoodName" name="FoodName" data-required="true" data-required-message="Food Name must input"  placeholder="Food Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TypeId" class="col-xs-3 control-label">Food Type</label>
                            <div class="col-xs-8 ">
                                <select id="TypeId" name="TypeId" class="form-control input-sm duiqi" data-required="true" data-required-message="Food Type must input"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Price" class="col-xs-3 control-label">Price</label>
                            <div class="col-xs-8">
                                <input type="number" class="form-control input-sm duiqi" id="Price" name="Price" data-required="true" data-required-message="Food Price must input" placeholder="Food Price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Stock" class="col-xs-3 control-label">Stock</label>
                            <div class="col-xs-8">
                                <input type="number" class="form-control input-sm duiqi" id="Stock" name="Stock" data-required="true" data-required-message="Food Stock must input" placeholder="Stock">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Foodimg" class="col-xs-3 control-label">Foodimg</label>
                            <div class="col-xs-8">
                                <img style="width:100px;height:100px;" id="Foodimg"/>
                                <input type="file" class="input-sm duiqi " id="file_Foodimg" name="file_Foodimg" placeholder="">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="FoodState" class="col-xs-3 control-label">Food State</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control input-sm duiqi" id="FoodState" name="FoodState" data-required="true" data-required-message="Food State must input" placeholder="">
                            </div>
                        </div>                     
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-xs btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-xs btn-xs btn-green" id="btnSave">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
