
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<p>
    Wright Way Restaurant is trying our best to find what is right food and service for you, 
    we use our passion and attitude to serve you. 
    Just go and try, you deserve it!
</p>
